<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Cadastrar Paciente - Sistema Clínica</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="pacient-container">
            <h1>Cadastro de Paciente</h1>
            <form id="patientForm">
                <label for="patientName">Nome:</label>
                <input type="text" id="patientName" name="patientName" placeholder="Digite o nome do paciente" required>

                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf" placeholder="Digite o CPF do paciente" required>

                <label for="address">Endereço:</label>
                <input type="text" id="address" name="address" placeholder="Digite o endereço do paciente" required>
                
                <label for="age">Idade:</label>
                <input type="number" id="age" name="age" placeholder="Digite a idade do paciente" required>
                
                <label for="telephone">Telefone:</label>
                <input type="text" id="telephone" name="telephone" placeholder="Digite o telefone do paciente" required>

                <label for="insurance">Convênio:</label>
                <input type="text" id="insurance" name="insurance" placeholder="Digite o convênio (opcional)">
                
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </body>
</html>
