<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Cadastrar Profissional - Sistema Clínica</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="script.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="professional-container">
            <h1 class="mb-4 text-center">Cadastro de Profissional</h1>
                <form action="#" th:action="@{/cadastrar/profissional}" th:object="${profissional}" method="POST">
                    <div class="form-group">
                        <input type="text" th:field="*{nome_pr}" placeholder="Nome do Profissional" class="form-control mt-4 col-4">
                        <div class="text-danger" th:if="${#fields.hasErrors('nome_pr')}" th:errors="*{nome_pr}"></div>
                    </div>

                    <div class="form-group">
                        <input type="text" th:field="*{cpf_pr}" placeholder="CPF do Profissional" class="form-control mt-4 col-4">
                        <div class="text-danger" th:if="${#fields.hasErrors('cpf_pr')}" th:errors="*{cpf_pr}"></div>
                    </div>

                    <div class="form-group">
                        <input type="text" th:field="*{ende_pr}" placeholder="Endereço do Profissional" class="form-control mt-4 col-4">
                        <div class="text-danger" th:if="${#fields.hasErrors('ende_pr')}" th:errors="*{ende_pr}"></div>
                    </div>

                    <div class="form-group">
                        <input type="number" th:field="*{idade_pr}" placeholder="Idade do Profissional" class="form-control mt-4 col-4">
                        <div class="text-danger" th:if="${#fields.hasErrors('idade_pr')}" th:errors="*{idade_pr}"></div>
                    </div>

                    <div class="form-group">
                        <input type="text" th:field="*{telefone_pr}" placeholder="Telefone do Profissional" class="form-control mt-4 col-4">
                        <div class="text-danger" th:if="${#fields.hasErrors('telefone_pr')}" th:errors="*{telefone_pr}"></div>
                    </div>

                    <div class="form-group">
                        <input type="text" th:field="*{especialidade_pr}" placeholder="Especialidade do Profissional" class="form-control mt-4 col-4">
                        <div class="text-danger" th:if="${#fields.hasErrors('especialidade_pr')}" th:errors="*{especialidade_pr}"></div>
                    </div>

                    <button type="submit" class="btn btn-info mt-4">Cadastrar</button>
                </form>

            <a href="/Menu" class="btn btn-link">Voltar</a>
        </div>    
    </body>
</html>
